@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

/* Airbnb Cereal Custom Font */
@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Bk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal";
  src: url("/fonts/AirbnbCereal_W_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* custom css */

  /* font size body*/
  --cus-font-size-xs: 0.50rem;
  --cus-font-size-sm: 0.625rem;
  --cus-font-size-md: 0.75rem;
  --cus-font-size-mdlg: 0.825rem;
  --cus-font-size-lg: 0.875rem;
  --cus-font-size-xl: 1rem;
  --cus-font-size-2xl: 1.125rem;
  --cus-font-size-3xl: 1.25rem;
  --cus-font-size-4xl: 1.5rem;

  /* font size hedtag*/
  --cus-font-size-hed-xm: 0.75rem;
  --cus-font-size-hed-sm: 0.875rem;
  --cus-font-size-hed-md: 1rem;

  --cus-font-size-hed-lg: 1.125rem;
  --cus-font-size-hed-2sm: 1.5rem;
  --cus-font-size-hed-xl: 2rem;
  --cus-font-size-hed-2xl: 2.375rem;
  --cus-font-size-hed-3xl: 3rem;
  --cus-font-size-hed-4xl: 3.5rem;
  --cus-font-size-hed-5xl: 4.5rem;
  /* background color */
  --cus-bg-color-pink: #EC4E54;
  --cus-bg-color-light: #EEEEEE;
  --cus-bg-color-white: #ffffff;
  --cus-bg-color-gray: #4F4F4F;
  --cus-bg-color-slite: #4D9F7E;
  --footer-bg-color: #F3F5F4;
  /* font color color */
  --cus-font-color-pink: #EC4E54;
  --cus-font-color-black: #1F1F1F;
  --cus-font-color-white: #ffffff;
  --cus-font-color-darkgray: #4A4A4A;
  --cus-font-color-gray: #4F4F4F;
  --cus-font-color-light-gray: #A7A6A6;
  --cus-font-color-light: #808080;
  --cus-font-color-off-white: #D1D1D1;

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --bottom-bar-bg: #262626;
  /* custom css */
  --my-font-size-sm: 0.875rem;
  --my-font-size-md: 1rem;
  --my-font-size-lg: 1.25rem;

  --my-color-primary: #007bff;
  --my-color-secondary: #ff5722;

  --my-bg-soft: #f5f5f5;
  /* custom css  */
  /* background color  */
  --cus-bg-color-light: #777777;
  --cus-bg-color-white: #1F1F1F;
  --footer-bg-color: #181A1A;


  --cus-font-color-pink: #EC4E54;
  --cus-font-color-black: #ffffff;
  --cus-font-color-white: #1F1F1F;
  --cus-font-color-gray: #8B8B8B;
  --cus-font-color-darkgray: #A2A2A2;
  --cus-font-color-light-gray: #A6A6A6;
}



@layer utilities {
  /* ================= FONT SIZES ================= */

  .fs-xs {
    font-size: var(--cus-font-size-xs);
  }

  .fs-sm {
    font-size: var(--cus-font-size-sm);
  }

  .fs-md {
    font-size: var(--cus-font-size-md);
  }

  .fs-mdlg {
    font-size: var(--cus-font-size-mdlg);
  }

  .fs-lg {
    font-size: var(--cus-font-size-lg);
  }

  .fs-xl {
    font-size: var(--cus-font-size-xl);
  }

  .fs-2xl {
    font-size: var(--cus-font-size-2xl);
  }

  .fs-3xl {
    font-size: var(--cus-font-size-3xl);
  }

  .fs-4xl {
    font-size: var(--cus-font-size-4xl);
  }

  /* ================= HEADINGS ================= */
  .hed-xm {
    font-size: var(--cus-font-size-hed-xm);
  }

  .hed-sm {
    font-size: var(--cus-font-size-hed-sm);
  }

  .hed-2sm {
    font-size: var(--cus-font-size-hed-2sm);
  }

  .hed-md {
    font-size: var(--cus-font-size-hed-md);
  }

  .hed-lg {
    font-size: var(--cus-font-size-hed-lg);
  }

  .hed-xl {
    font-size: var(--cus-font-size-hed-xl);
  }

  .hed-2xl {
    font-size: var(--cus-font-size-hed-2xl);
  }

  .hed-3xl {
    font-size: var(--cus-font-size-hed-3xl);
  }

  .hed-4xl {
    font-size: var(--cus-font-size-hed-4xl);
  }

  .hed-5xl {
    font-size: var(--cus-font-size-hed-5xl);
  }

  /* ================= TEXT COLORS ================= */
  .line-height120 {
    line-height: 120%;
  }

  .line-height140 {
    line-height: 140%;
  }

  .text-dark {
    color: var(--cus-font-color-black)
  }

  .text-pink {
    color: var(--cus-font-color-pink);
  }

  .text-darkgray {
    color: var(--cus-font-color-darkgray)
  }

  .text-gray {
    color: var(--cus-font-color-gray);
  }

  .text-light-gray {
    color: var(--cus-font-color-light-gray);
  }

  .text-off-white {
    color: var(--cus-font-color-off-white);
  }

  .text-light {
    color: var(--cus-font-color-light);
  }

  /* ================= BACKGROUND COLORS ================= */

  .bg-pink {
    background-color: var(--cus-bg-color-pink);
  }

  .bg-gray {
    background-color: var(--cus-bg-color-gray);
  }

  .bg-light {
    background-color: var(--cus-bg-color-light);
  }

  .bg-darkgray {
    color: var(--cus-font-color-darkgray)
  }

  .bg-sliter {
    background-color: var(--cus-bg-color-slite);
  }

  .light-gray-bg {
    color: var(--cus-font-color-light-gray);
  }

  .footer-bg {
    background-color: var(--footer-bg-color);
  }

  /* ================= HOVER STATES ================= */

  .hover\:text-pink:hover {
    color: var(--cus-font-color-pink);
  }

  .hover\:bg-pink:hover {
    background-color: var(--cus-bg-color-pink);
  }
}

.cms-para-text {
  font-size: 0.750rem;
}

/* ================= RESPONSIVE VARIANTS ================= */

/* -------- SM -------- */
/* ================= RESPONSIVE VARIANTS ================= */

/* -------- SM -------- */
@media (min-width: 640px) {
  .sm\:fs-xs {
    font-size: var(--cus-font-size-xs);
  }

  .sm\:fs-sm {
    font-size: var(--cus-font-size-sm);
  }

  .sm\:fs-mdlg {
    font-size: var(--cus-font-size-mdlg);
  }

  .sm\:fs-md {
    font-size: var(--cus-font-size-md);
  }

  .sm\:fs-4xl {
    font-size: var(--cus-font-size-4xl);
  }

  .sm\:fs-lg {
    font-size: var(--cus-font-size-lg);
  }

  .sm\:hed-sm {
    font-size: var(--cus-font-size-hed-sm);
  }

  .sm\:hed-md {
    font-size: var(--cus-font-size-hed-md);
  }
}

/* -------- MD -------- */
@media (min-width: 768px) {
  .cms-para-text {
    font-size: 0.875rem;
  }

  .md\:fs-xs {
    font-size: var(--cus-font-size-xs);
  }

  .md\:hed-2sm {
    font-size: var(--cus-font-size-hed-2sm);
  }

  .md\:fs-sm {
    font-size: var(--cus-font-size-sm);
  }

  .md\:fs-2xl {
    font-size: var(--cus-font-size-2xl);
  }

  .md\:fs-4xl {
    font-size: var(--cus-font-size-4xl);
  }

  .md\:fs-mdlg {
    font-size: var(--cus-font-size-mdlg);
  }

  .md\:fs-md {
    font-size: var(--cus-font-size-md);
  }

  .md\:fs-lg {
    font-size: var(--cus-font-size-lg);
  }

  .md\:fs-xl {
    font-size: var(--cus-font-size-xl);
  }

  .md\:fs-3xl {
    font-size: var(--cus-font-size-3xl);
  }

  .md\:fs-4xl {
    font-size: var(--cus-font-size-3xl);
  }

  .md\:hed-sm {
    font-size: var(--cus-font-size-hed-sm);
  }

  .md\:hed-md {
    font-size: var(--cus-font-size-hed-md);
  }

  .md\:hed-lg {
    font-size: var(--cus-font-size-hed-lg);
  }

  .md\:hed-xl {
    font-size: var(--cus-font-size-hed-xl);
  }

  .md\:hed-3xl {
    font-size: var(--cus-font-size-hed-3xl);
  }

  .md\:hed-4xl {
    font-size: var(--cus-font-size-hed-4xl);
  }
}

/* -------- LG -------- */
@media (min-width: 1024px) {

  .cms-para-text {
    font-size: 1rem;
  }

  .lg\:fs-4xl {
    font-size: var(--cus-font-size-4xl);
  }

  .lg\:fs-md {
    font-size: var(--cus-font-size-md);
  }

  .lg\:fs-mdlg {
    font-size: var(--cus-font-size-mdlg);
  }

  .lg\:fs-lg {
    font-size: var(--cus-font-size-lg);
  }

  .lg\:fs-xl {
    font-size: var(--cus-font-size-xl);
  }

  .lg\:fs-2xl {
    font-size: var(--cus-font-size-2xl);
  }

  .lg\:fs-3xl {
    font-size: var(--cus-font-size-3xl);
  }

  .lgl\:fs-4xl {
    font-size: var(--cus-font-size-3xl);
  }

  .lg\:hed-sm {
    font-size: var(--cus-font-size-hed-sm);
  }

  .lg\:hed-2sm {
    font-size: var(--cus-font-size-hed-2sm);
  }

  .lg\:hed-lg {
    font-size: var(--cus-font-size-hed-lg);
  }

  .lg\:hed-xl {
    font-size: var(--cus-font-size-hed-xl);
  }

  .lg\:hed-2xl {
    font-size: var(--cus-font-size-hed-2xl);
  }

  .lg\:hed-3xl {
    font-size: var(--cus-font-size-hed-3xl);
  }

  .lg\:hed-4xl {
    font-size: var(--cus-font-size-hed-4xl);
  }
}

/* -------- XL -------- */
@media (min-width: 1280px) {
  .xl\:fs-4xl {
    font-size: var(--cus-font-size-4xl);
  }

  .xl\:fs-lg {
    font-size: var(--cus-font-size-lg);
  }

  .xl\:fs-xl {
    font-size: var(--cus-font-size-xl);
  }

  .xl\:fs-2xl {
    font-size: var(--cus-font-size-2xl);
  }

  .xl\:fs-3xl {
    font-size: var(--cus-font-size-3xl);
  }

  .xl\:hed-xl {
    font-size: var(--cus-font-size-hed-xl);
  }

  .xl\:hed-2xl {
    font-size: var(--cus-font-size-hed-2xl);
  }

  .xl\:hed-3xl {
    font-size: var(--cus-font-size-hed-3xl);
  }

  .lg\:hed-4xl {
    font-size: var(--cus-font-size-hed-4xl);
  }

  .lg\:hed-5xl {
    font-size: var(--cus-font-size-hed-5xl);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Airbnb Cereal", sans-serif;
  font-size: var(--cus-font-size-xl);
}

@media(min-width: 1280px) {
  .container {
    max-width: 1200px !important;
  }
}